<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.text_field :first_name, autofocus: true, placeholder: 'First Name' %>
  </div>

  <div class="field">
    <%= f.text_field :last_name, autofocus: true, placeholder: 'Last Name' %>
  </div>

  <div class="field">
    <%= f.text_field :phone_number, autofocus: true, placeholder: 'Mobile Number (e.g. 09xx)' %>
  </div>

  <div class="field">
    <%= f.autocomplete_field :area, autocomplete_area_name_registrations_path, placeholder: 'Area',:id_element => '#area_id', include_id: false %>
    <%= f.hidden_field :area_id, :id => "area_id" %>
  </div>

  <div class="field">
    <%= f.text_field :username, autofocus: true, placeholder: 'Username' %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "off", placeholder: 'Password' %><% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Confirm Password' %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
