<div class ="wrapperres">
<div class="titleresponse">Local Government Unit Response</div><br>
  <%= form_for(@lgu_response) do |f| %>
  <div class="field">
    <%= f.text_field :latitude, autofocus: true, placeholder: 'Latitude', class: "form-control", style: "width: 300px;" %>
  </div>
  <div class="field">
    <%= f.text_field :longitude, autofocus: true, placeholder: 'Longitude', class: "form-control", style: "width: 300px;" %>
  </div>
  <div class="field">
    <%= f.select :disaster_type, options_for_select(['Flood','Earthquake','Volcano','Tsunami','Others']), {:include_blank => 'Disaster Type'}, prompt: 'Disaster Type', class: "form-control", style: "width: 300px;" %>
  </div>
  <div class="actions">
    <%= f.submit "Create", class: "form-control", style: "width: 300px; margin-top: 10px; background-color: #75BAA8;" %>
  </div>
<% end %>

<p id="demo"></p>
</div>


<script>
var x = document.getElementById("demo");

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}
function showPosition(position) {
    lgu_response_latitude.value = position.coords.latitude;
    lgu_response_longitude.value = position.coords.longitude;
}
$( document ).ready(function() {
    getLocation();
});
</script>