<div style="padding: 5vh 5vw;">
  <h2 style="color:#75BAA8"><%= @area.name %></h2>
  <strong>Province:</strong> <%= @area.province %><br>
  <strong>Region:</strong> <%= @area.region %><br>

  <div style="margin-top: 50px;">
    <h4 style="color:#75BAA8">Residents</h2>
    <table class="table">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Address</th>
          <th>Phone Number</th>
        </tr>
      </thead>
      <tbody>
        <% @residents.each do |r| %>
          <tr>
            <td><%= r.first_name %></td>
            <td><%= r.last_name %></td>
            <td><%= r.address %></td>
            <td><%= r.phone_number %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>