<div style="height: 45px; padding-top: 5px; padding-left: 15px; width: 100%; background-color: #2FAFAE; color:white; font-family: 'Roboto', sans-serif; font-size: 25px; font-weight: 900; letter-spacing: 3px; text-align:center">LOGO</div>

<div style="background-color: #ecf0f1;">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active" style="background-color:#2FAFAE;"></li>
      <li data-target="#myCarousel" data-slide-to="1" style="background-color:#2FAFAE;"></li>
      <li data-target="#myCarousel" data-slide-to="2" style="background-color:#2FAFAE;"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" height="345" role="listbox" >
      <div class="item active image" style="background-image:url('/assets/c2.png'); height:30vh; background-position:center;">
        <h2 style="top: 100px;"><span style="background-color:white;"><%= link_to 'FOR THE REFUGEES', home_path, style:'color:#2FAFAE; text-decoration:none;' %></span></h2>
      </div>
      <div class="item image" style="background-image:url('/assets/c1.JPG'); height:30vh; background-position:center;">
        <h2 style="top: 100px;"><span style="background-color:white;"><%= link_to 'FOR THE HOMELESS', home_path, style:'color:#2FAFAE; text-decoration:none;' %></span></h2>
      </div>
      <div class="item image" style="background-image:url('/assets/c3.jpg'); height:30vh; background-position:50% 30%;">
        <h2 style="top: 100px;"><span style="background-color:white;"><%= link_to 'FOR THE CHILDREN OF HEROES', home_path, style:'color:#2FAFAE; text-decoration:none;' %></span></h2>
      </div>
    </div>
  </div>
  <h1 style="padding-left: 30px; padding-right: 30px; width: 100%; color: black; font-family: 'Roboto', sans-serif; font-size: 22px; font-weight: 900; letter-spacing: 5px; text-align:left;">ORGANIZATIONS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-search"></span></h1>
  <div style="height: 35vh; padding: 30px; padding-top: 10px ;overflow-y: auto;">
    <div class="image" style="margin-bottom: 40px;" width: "100%;">
      <img src="/assets/i1.jpg" width="100%" />
      <h2><span><%= link_to 'PROJECT LIWANAG', home_path, style:'color:white; text-decoration:none;' %></span></h2>
    </div>
    <div class="image" style="margin-bottom: 40px;" width: "100%;">
      <img src="/assets/i2.jpg" width="100%" />
      <h2><span><%= link_to 'RED CROSS PHILIPPINES', home_path, style:'color:white; text-decoration:none;' %></span></h2>
    </div>
    <div class="image" style="margin-bottom: 40px;" width: "100%;">
      <img src="/assets/i3.jpg" width="100%" />
      <h2><span><%= link_to 'PHLIPPINE TOY LIBRARY', home_path, style:'color:white; text-decoration:none;' %></span></h2>
    </div>
    <div class="image" style="margin-bottom: 40px;" width: "100%;">
      <img src="/assets/i4.jpg" width="100%" />
      <h2><span><%= link_to 'UNICEF PHILIPPINES', home_path, style:'color:white; text-decoration:none;' %></span></h2>
    </div>
  </div>
</div>

<style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
  }
  .image { 
   position: relative; 
   width: 100%; /* for IE 6 */
  }
  h2 { 
   position: absolute; 
   top: 150px; 
   left: 0; 
   width: 100%; 
  }
  h2 span { 
   color: white; 
   font: 600 18px 'Roboto', sans-serif; 
   letter-spacing: 2px;  
   background: rgb(0, 0, 0); /* fallback color */
   background-color: #2FAFAE;
   /*background: rgba(0, 0, 0, 0.7);*/
   padding: 10px; 
  }
  h2 span.spacer {
    padding:0 5px;
  }
</style>