<div class="container-fluid">
  <div class="row" style="height: 90vh; overflow:hidden;">
    <div class="col-md-8">
      <div id="map" style="height: 100vh; background-color: #E4E2E1;"></div>
    </div>
    <div class="col-md-4" style="height: 100vh;">
      <h3>People in need as of <span style="color:#75BAA8;"><%= @date_message %></span></h3><br><br>
      <h4>Filter by date:</h4>
      <form action="/view">
        <%= select_tag("start_date", options_for_select(dates.sort),:prompt=>"Start Date", :class=>"form-control date-select") %>
        <%= select_tag("end_date", options_for_select(dates.sort),:prompt=>"End Date", :class=>"form-control date-select") %>
        <%= submit_tag 'Search', :class=>"form-control date-submit" %>
      </form>
    </div>
  </div>
</div>


<script>
$(document).ready(function() {
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(7);
    handler.getMap().setOptions({styles: [{"featureType":"water","stylers":[{"saturation":43},{"lightness":-11},{"hue":"#0088ff"}]},{"featureType":"road","elementType":"geometry.fill","stylers":[{"hue":"#ff0000"},{"saturation":-100},{"lightness":99}]},{"featureType":"road","elementType":"geometry.stroke","stylers":[{"color":"#808080"},{"lightness":54}]},{"featureType":"landscape.man_made","elementType":"geometry.fill","stylers":[{"color":"#ece2d9"}]},{"featureType":"poi.park","elementType":"geometry.fill","stylers":[{"color":"#ccdca1"}]},{"featureType":"road","elementType":"labels.text.fill","stylers":[{"color":"#767676"}]},{"featureType":"road","elementType":"labels.text.stroke","stylers":[{"color":"#ffffff"}]},{"featureType":"poi","stylers":[{"visibility":"off"}]},{"featureType":"landscape.natural","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#b8cb93"}]},{"featureType":"poi.park","stylers":[{"visibility":"on"}]},{"featureType":"poi.sports_complex","stylers":[{"visibility":"on"}]},{"featureType":"poi.medical","stylers":[{"visibility":"on"}]},{"featureType":"poi.business","stylers":[{"visibility":"simplified"}]}]});
  });
});
</script>


</script>